# app
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173
APP_PORT=8000

# database
DB_URL=postgresql+psycopg://postgres:postgres@localhost:5432/strumok

# auth
AUTH_SECRET_KEY=replace-with-random-string
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRATION=1440
