# app
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173
APP_PORT=8000

# database
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/strumok

# auth
AUTH_SECRET_KEY=replace-with-random-string
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRATION=1440
AUTH_COOKIE_NAME=access_token
AUTH_INTERNAL_SECRET=replace-with-random-string

# email
BREVO_API_KEY=your-brevo-api-key
BREVO_SENDER_EMAIL=noreply@example.com
BREVO_APP_BASE_URL=http://localhost:5173

PUSH_VAPID_PUBLIC_KEY=public_key
PUSH_VAPID_PRIVATE_KEY=private_key
PUSH_VAPID_SUBJECT=mailto:strumok@mail.com
